html, body {
	font-family: 'Covered By Your Grace', cursive;
	font-size: 30px;
  	height:100%;
  	width: 100%;
  	margin: 0 auto;
  	padding: 0;
  	background-color: black;
  	color: white;
}

nav {
	background-color: red;
	color: black;
	margin: 0 auto;
	padding: 10px;
}
nav h1 {
	float: left;
}
nav form {
	text-align: right;
}

#gifBody {
	clear: both;
}

.jumbotron {
	color: #003462;
}

#gifInput {
	margin-left: 20px;
	margin-right: 20px;
}

button, #submitIdea {
	margin: 10px;
	color: blue;
}

button:hover, #submitIdea:hover {
	background-color: blue;
	color: white;
}

img {
	width: 100%;
}
.helloGifs {
	float: left;
	padding: 10px;
}
.textRating {
	color: white;
}