html, body {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 30px;
  	height:100%;
  	width: 100%;
  	margin: 0 auto;
  	padding: 0;
  	background-color: black;}
nav {
	background-color: #68da23;
	color: black;
	margin: 0 auto;
	padding: 10px;
	border-bottom: 10px #eaf02c solid;
	margin-bottom: 10px;
}
nav h1 {
	float: left;
}
nav form {
	text-align: right;
	padding-right: 5%;
}
label {
	float: left;
	padding-left: 10%;
	font-size: 40px;
}

#gifInput {
	margin-left: 20px;
	margin-right: 20px;
}
button, #submitIdea {
	margin: 10px;
	padding: 5px;
	font-size: 25px;
}
button:hover, #submitIdea:hover {
	background-color: #d100da;
	color: white;
}
img {
	width: 100%;
}
.helloGifs {
	float: left;
	padding: 10px;
}
.textRating {
	color: white;
}